#head{
    text-align: center;
    font-size: 250%;
    font-family: fantasy;
    color: darkturquoise;
    background-color: darkolivegreen;
}
table{
    background-color: azure;
    background-attachment: scroll;
#h1
    font-style: oblique;
    font-size: 150%;
}